@import url('https://fonts.cdnfonts.com/css/beautiful-magic');   
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

:root {
  --magicfont: 'Beautiful Magic', 'Roboto', 'Helvetica', sans-serif;
  --regularfont: 'Cinzel', serif;
  --colblue: #223164;
  --colwhite: rgba(255, 255, 255, 0.8);
  --colbrown: #cdb373;
  --colbrown2: rgba(93, 93, 93, 0.5);
  --button: #0F1D4A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: var(--colblue);
  color: var(--colwhite);
  font-family: var(--regularfont);
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 6fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav header header"
    "nav main section"
    "nav footer section";
}

a , a:visited {
  color: var(--colwhite);
  text-decoration: none;
}

button {
  background-color: transparent;
  border-radius: 12px;
}

header {
  font-family: var(--magicfont);
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "search info"
    "hi info-links";
}
.icons {
  width: 30px;
}
/* header left side */
.search {
  grid-area: search;
  display: flex;
  place-self: center;
  padding: 10px;
}
.search-bar {
  width: 500px;
  background-color: rgba(1, 1, 1, .1);
}
.raven {
  width: 80px;
}
.img-search {
  width: 30px;
}
.hi {
  grid-area: hi;
  align-self: center;
  padding-left: 30px;
  display: flex;
  gap: 10px;
}
.hi h1 {
  font-size: 35px;
  align-self: end;
}
/* header right side */
.info {
  grid-area: info;
  place-self: center;
}
.info-links {
  grid-area: info-links;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button-info-links {
  padding: 10px 15px;
  font-family: var(--regularfont);
  background-color: var(--button);
  color: var(--colwhite);
}

nav {
  background-color: var(--colbrown2);
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px;
  grid-template-areas:
    "nav-dashboard";
}
.dashboard {
  font-size: 35px;
  align-self: center;
}
.nav-dashboard {
  grid-area: nav-dashboard;
  padding: 30px;
  display: grid;
  place-items: start;
  gap: 30px;
}
.nav-dashboard h2 {
  font-family: var(--magicfont);
}
.nav-dashboard a {
  font-size: 13px;
  display: flex;
  gap: 15px;
  align-items: center;
}

main {
  grid-area: main;
  margin-top: 10px;
  padding: 20px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
/* project per article */
article {
  text-align: center;
}
.calculator,
.etch-a-sketch,
.rock-paper-scissors,
.sign-up-form,
.landing-page,
.-odin-recipes {
  width: 150px;
  height: 200px;
}

article button {
  width: 30px;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
  place-self: center;
}
.logo {
  width: 30px;
  grid-area: logo;
}