@import url('https://fonts.cdnfonts.com/css/beautiful-magic');   
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
  --magicfont: 'Beautiful Magic', 'Roboto', 'Helvetica', sans-serif;
  --regularfont: 'Cinzel', serif;
  --colblue: #1B3A62;
  --colwhite: rgba(255, 255, 255, 0.8);
  --colbrown: #cdb373;
  --button: #173151;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: var(--colblue);
  color: var(--colwhite);
  font-family: var(--regularfont);
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav header header"
    "nav main section"
    "nav main section"
    "nav main section"
    "nav main section"
    "footer footer footer";
}
a , a:visited {
  color: var(--colwhite);
  text-decoration: none;
}
header {
  font-family: var(--magicfont);
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "search info"
    "hi info-links";
}
.icons {
  width: 30px;
}
/* header left side */
.search {
  grid-area: search;
  display: flex;
  place-self: center;
  padding: 10px;
}
.search-bar {
  width: 500px;
  background-color: rgba(1, 1, 1, .1);
}
.raven {
  width: 50px;
}
.img-search {
  width: 30px;
}
.hi {
  grid-area: hi;
  align-self: center;
  padding: 10px;
  display: flex;
  gap: 10px;
}
/* header right side */
.info {
  grid-area: info;
  place-self: center;
}
.info-links {
  grid-area: info-links;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button-info-links {
  border-radius: 12px;
  background-color: var(--button);
  border: 0 solid transparent;
  padding: 10px 15px;
  color: white;
}
nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav-dashboard";
}
.nav-dashboard {
  grid-area: nav-dashboard;
  padding: 10px;
  display: grid;
  place-items:center;
}
.nav-dashboard h2 {
  font-family: var(--magicfont);
}
main {
  grid-area: main;
  padding: 10px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
article button {
  width: 30px;
}
section {
  grid-area: section;
}
footer {
  grid-area: footer;
  place-self: center;
}
.logo {
  width: 40px;
  grid-area: logo;
  place-self: center;
}