@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@font-face {
  font-family: 'MagicSchoolOne';
  src: url('./images/MagicSchoolOne.ttf');
}
:root {
  --magicfont2: 'MagicSchoolOne', 'Roboto', 'Helvetica', sans-serif;
  --regularfont: 'Cinzel', serif;
  --colblue: #223164;
  --colwhite: rgba(255, 255, 255, 0.9);
  --colbrown: #cdb373;
  --colbrown2: rgba(200, 180, 100, .4);
  --colgrey: rgba(80, 80, 80, 0.3);
  --main: #0F1D4A;
  --button: rgba(15, 29, 74, .3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px 20px;
  background-color: var(--colblue);
  color: var(--colwhite);
  font-family: var(--regularfont);
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 6fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav header header"
    "nav main section"
    "nav footer section";
}
/* TYPE SELECTORS */
p {font-size: 13px;}

a , a:visited {
  color: var(--colwhite);
  text-decoration: none;
}
a:hover {
  background-color: var(--colbrown2);
}
button {
  border-radius: 12px;
  background-color: transparent;
  border-bottom-left-radius: 1px solid var(--colbrown2);
  border-bottom-right-radius: 1px solid var(--colbrown2);
  border: 1px solid var(--colbrown2);
}

button:hover {
  background-color: var(--colbrown2)
}

button:active {
  background-color: var(--colbrown)
}

h1 {
  font-family: var(--regularfont);
  font-size: 25px;
  border-bottom: 3px solid var(--main);
  align-self: end;
}

h2 {
  font-family: var(--magicfont2);
  letter-spacing: 10px;
  font-size: 50px;
  text-shadow: 2px 4px 1px var(--colbrown);
}
h3 {
  color: var(--colbrown);
}
/* GRID PAGE LAYOUT */
header {
  font-family: var(--magicfont);
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "search info"
    "hi info-links";
}
/* SVGS COLORS */
.icons { 
  width: 20px;
  height: 20px;
  fill: var(--colwhite);
}
.house {
  width: 30px;
  height: 30px;
}
.project-icons {
  width: 20px;
  height: 20px;
  fill: var(--colwhite);
}
.wand {cursor: url(./images/magic\ wand.cur), auto;}
/* HEADER LEFT SIDE */
.search {
  grid-area: search;
  display: flex;
  gap: 10px;
  place-self: center;
  padding: 10px;
}
.search-icon {
  width: 20px;
}
input {
  width: 500px;
  background-color: rgba(1, 1, 1, .1);
  color: var(--colwhite);
  border: 1px solid transparent;
  outline: transparent;
}
input:focus {
  border: 1px solid var(--colbrown);
}
.raven {width: 80px;}
.img-search {width: 30px;}
.hi {
  grid-area: hi;
  align-self: center;
  padding-left: 30px;
  display: flex;
  gap: 10px;
}
/* HEADER RIGHT SIDE */
.info {
  grid-area: info;
  font-family: var(--regularfont);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.info-links {
  grid-area: info-links;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.button-info-links {
  padding: 10px 15px;
  background-color: var(--main);
  color: var(--colwhite);
}
/* LINKS */
nav {
  grid-area: nav;
}
.nav-dashboard {
  padding: 30px;
  position: sticky;
  top: 0px;
  display: grid;
  gap: 30px;
  background-color: var(--main);
  border-top: 3px solid var(--colbrown);
  border-bottom: 1px solid var(--colbrown);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, .3);
}
.nav-dashboard h2 {
  border-bottom: 3px solid var(--colblue);
}
.nav-dashboard a {
  font-size: 13px;
  border-bottom-right-radius: 30px; 
  border-bottom: 1px solid var(--colbrown);
  display: flex;
  gap: 15px;
  align-items: center;
}
/* MAIN PAGE CONTENT */
main {
  grid-area: main;
  margin-top: 10px;
  padding: 20px;
}
main h2 {
  font-size: 60px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--colbrown);
}
main p {font-style: italic;}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.buttons-project:hover {
  background-color: var(--main);
}
/* PROJECT PER ARTICLE */
article {
  text-align: center;
  background-color: var(--colgrey);
  border-top: 1px solid var(--colbrown);
  border-bottom: 1px solid var(--colbrown);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 50px 0px 20px rgba(0, 0, 0, .3);
  padding: 20px;
}
.proj:hover{
  transform: translate(0, 10px);
  transition: 0.25s;
  transition-timing-function: ease-out;
}
.calculator,
.etch-a-sketch,
.rock-paper-scissors,
.sign-up-form,
.landing-page,
.-odin-recipes {
  width: 250px;
  height: 300px;
}

article button {width: 30px;}
/* SIDEBAR RIGHT SIDE */
aside {
  text-align: center;
  grid-area: section;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
aside h2 {padding-bottom: 10px;}
.announcements, .trending{
  padding: 20px;
  background-color: var(--main);
  border-top: 2px solid var(--colbrown);
  border-bottom: 1px solid var(--colbrown);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 50px 0px 20px rgba(0, 0, 0, .3);
}
.announcements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.trending-box a {
  padding: 10px;
  margin-bottom: 3px;
  background-color: var(--colgrey);
  border-bottom: 1px solid var(--colbrown);
  border-bottom-left-radius: 30px;
  box-shadow: 50px 0px 20px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  gap: 10px;
}
.trending-box a:hover {
  background-color: var(--colbrown2);
}
footer {
  grid-area: footer;
  place-self: center;
}
footer a:hover {
  background-color: transparent;
}
.logo {
  width: 30px;
  grid-area: logo;
}